body,
html {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.868);
}

header {
  display: flex;
  gap: 10px;
  padding: 10px;
  background-color: rgb(22, 98, 174);
}

header a {
  border: 1px solid #a9ddf0;
  padding: 10px;
  text-decoration: none;
  color: white;
  border-radius: 10px;
}
header a:hover {
  background-color: rgb(25, 126, 226);
}
main {
  margin: 20px;
}

.shadow {
  box-shadow: 1px 1px 4px 1px rgb(209, 211, 212);
  padding: 10px;
  border-radius: 5px;
}

label {
  font-size: 15px;
}

input,
select {
  display: block;
  width: 100%;
  margin-top: 8px;
  padding: 12px 20px;
  box-sizing: border-box;
}

.create-task-form {
  width: 60%;
  margin: auto;
  padding: 30px;
}

textarea {
  display: block;
  width: 100%;
}

button {
  background-color: rgb(25, 150, 25);
  color: rgb(241, 235, 235);
  min-width: 100px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin-right: 10px;
  margin-top: 10px;
}
button:hover {
  background-color: rgb(23, 126, 23);
}

.error {
  border: 1px solid rgba(218, 58, 58, 0.237);
  background-color: rgba(218, 58, 58, 0.237);
  padding: 10px;
  color: rgb(156, 24, 24);
  border-radius: 6px;
}

.success {
  border: 1px solid rgba(69, 218, 58, 0.237);
  background-color: rgba(50, 192, 66, 0.294);
  padding: 10px;
  color: rgba(25, 125, 33, 0.922);
  border-radius: 6px;
}

/* Boards */

.boards {
  width: 100%;
}

.boards .board {
  margin-top: 20px;
  padding-left: 40px;
}

.boards .board:hover {
  background-color: #d0cdcd54;
  cursor: pointer;
}

.task-container {
  height: 90vh;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}

.task-list {
  height: inherit;
  border: 1px solid #b7b3b341;
  display: flex;
  flex-direction: column;
}

.task-list .heading {
  font-weight: bold;
  text-align: center;
  padding: 0px;
  margin: 0px;
}
.task-list .heading h1 {
  margin: 10px;
}

.todo-list .heading {
  background-color: rgb(236, 236, 108);
}
.doing-list .heading {
  background-color: rgba(163, 195, 241, 0.756);
}
.review-list .heading {
  background-color: rgb(169, 247, 239);
}
.testing-list .heading {
  background-color: rgb(209, 195, 249);
}
.done-list .heading {
  background-color: rgb(86, 214, 126);
}

.task {
  padding: 5px;
  margin: 5px;
}

.task .members-list-icons {
  display: flex;
  flex-wrap: wrap;
  color: white;
  font-weight: bold;
}
.task .members-list-icons span {
  background-color: green;
  margin: 4px;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  text-align: center;
}

.task:hover {
  background-color: #eeececd7;
  cursor: pointer;
}

.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homepage img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.task-list-page-wrapper .create-task-button {
  background-color: white;
  border: 1px solid black;
  min-width: 50px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  font-size: 100px;
  position: absolute;
  bottom: 50px;
  right: 50px;
}

.task-list-page-wrapper .create-task-button:hover {
  background-color: rgb(35, 103, 61);
}

.task-list-page-wrapper .create-task-button svg {
  color: black;
}

.task-list-page-wrapper .create-task-button svg:hover {
  color: white;
}

.task-details-wrapper .user-list {
  padding: 0;
  list-style: none;
}

.task-details-wrapper .user-list li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}
.task-details-wrapper .user-list li:hover {
  background-color: #e2dddd;
}
